<script>
    function edit() {
        document.getElementById('username').style.border="1px solid #000"

    }
</script>

<div class="container mt-5">
    <div class="row">
        
        <div class="col-md-6 offset-md-3 shadow">
            <h3 class="text-center mt-5">Add Address</h3>
            <div class="container mt-4 mb-3">
                <form name="addAddress" onsubmit="return addAddressVali()" action="/add-address/{{user._id}}" method="post" required>
                    <input type="text" style="width: 100%; line-height: 35px;" class="mb-2" name="fname" placeholder="Firstname">
                    <input type="text" style="width: 100%; line-height: 35px;" class="mb-2" name="lname" placeholder="Lastname">
                    <textarea name="address" id="" cols="30" rows="4" style="width: 100%;"  placeholder="Address"></textarea>
                    <input type="text" style="width: 100%; line-height: 35px;" class="mb-2" name="town" placeholder="Town">
                    <input type="text" style="width: 100%; line-height: 35px;" class="mb-2" name="pincode" placeholder="Pincode">
                    <select name="state" id="" style="width: 100%;height: 40px;" class="mb-2">
                        <option value="" selected>State</option>
                        <option value="kerala">Kerala</option>
                    </select>
                    <input type="text"  style="width: 100%; line-height: 35px;" class="mb-2" name="phone" placeholder="Mobile number">
                    <input type="email"  style="width: 100%; line-height: 35px;" class="mb-2" name="email" placeholder="Email Address">
                    
                    <p class="text-center text-danger" id="placeOrderErr"></p>
                   <div class="text-center">
                     <input type="submit" value="Save Address" class="m-3 pt-2 pb-2 ps-3 pe-3 save-add-btn">
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>