

<div class="success-page" style="width: 100%;height: 90vh;">
    <div class="d-flex justify-content-center position-relative" style="top:70vh">
        <a href="/orders" class="btn btn-primary me-2" style="height: 40px; ">Go to Orders</a>
        <a href="/shop" class="btn btn-success" style="height: 40px;">Continue Shopping</a>
    </div>
</div>  